<html>
  <head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>Harvey - Analyzer</title>
    {% endif %}
  </head>
  <body>
      <center><h1>Welcome to Harvey.</h1>
      <img src="../static/img/harvey.png" width="100" height="100" ></center>
      <hr>
      <p><b>Account info:</b></p>
      <p>Username: <b>{{ user.nickname }}</b></p>
      <p>Last tweet: <b>{{ user.last_tweet }}</b></p>
      <p>Total tweets: <b>{{ user.total_tweets }}</b></p>
      <p>Language: <b>{{ account_info.lang }}</b></p>
      <p>Geo-positioning: <b>{{ account_info.geo_enabled }}</b></p>
      <p>Time info: <b>{{ account_info.time_zone }}</b></p>
      <p>UTC Offset: <b>{{ account_info.utc_offset }}</b></p>

  </body>
</html>
